.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12,1fr)
}

.grid--full {
  grid-column: span 12;
}


.grid--half {
  grid-column: span 6;
}
@media all and (min-width : 320px) and (max-width : 780px) {
  .grid--half {
    grid-column: span 12;
  }
}


.grid--third {
  grid-column: span 4;
}
@media all and (min-width : 320px) and (max-width : 780px) {
  .grid--third {
    grid-column: span 12;
  }
}


.grid--fourth {
  grid-column: span 3;
}
@media all and (min-width : 320px) and (max-width : 780px) {
  .grid--fourth {
    grid-column: span 12;
  }
}
