* {
  font-family: monospace;
  font-size: 16px;
}

body {
  margin: 0;
}

.content-wrapper {
  padding: 1rem 5rem;
  width: auto;
}



.logo-main {
  background-image: url("images/logo-v1.png");
  height: 50px;
  width: 30px;

}
