* {
  font-family: 'roboto', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.content-wrapper {
  padding: 1rem 5rem;
  width: auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .content-wrapper {
    padding: 1rem 2.5rem;
    width: auto;
  }

}

.logo-main {
  background-image: url("images/logo-v2.png");
  height: 50px;
  background-size: cover;

}
