.main-header {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  border-bottom: 2px solid;
}

.nav-actions {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  margin-top: .5rem;
}

.nav-actions > div {
  padding: 1rem;
  font-weight: bold;
}

.about {
  border-bottom: 2px solid;
}
